# Build output
**/bin/
**/obj/

# Visual Studio / VS Code
.vs/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs and temp
*.log
*.tmp
*.cache
*.macroDeckPlugin
_macrodeck_pkg_tmp/

# Test results
TestResults/

.fake